.developer-title-box {
	-fx-background-color: #dad9f0;
	-fx-padding: 10px 20px 10px 20px;
	-fx-alignment: center-left;
}
.developer-title-box .title-graphic {
	
}
.developer-title-box .title-text {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: #5c5a7b;
}
.margin-left {
	-fx-background-insets: 0px 0px 0px 10px;
	-fx-border-insets: 0px 0px 0px 10px;
}
.developer-entry-box {
	-fx-padding: 5px 20px 5px 20px;
	-fx-alignment: center-left;
	-fx-border-color: #eaeaea;
	-fx-border-width: 1px;
	-fx-border-style: none none solid none;
}
.developer-entry-box.selected-box {
	-fx-background-color: #e9e9ee;
}
.entry-title {
	-fx-font-size: 13px;
	-fx-font-weight: bold;
}
.first-child-entry {
	-fx-padding: 5px 20px 5px 40px;
}
.second-child-entry {
	-fx-padding: 5px 20px 5px 60px;
}
.first-child-entry .entry-title {
	-fx-font-size: 12px;
	-fx-text-fill: #444;
}
.first-child-entry .entry-description {
	-fx-font-size: 11px;
}
.first-child-entry .entry-id {
	-fx-font-size: 9px;
}
.entry-description {
	-fx-font-size: 12px;
	-fx-text-fill: #666;
	-fx-padding: 10px 0px 0px 0px;
}
.entry-id {
	-fx-font-size: 10px;
	-fx-text-fill: #aaa;
}
.developer-service {
	-fx-text-fill: #666;
	-fx-border-width: 0px 0px 1px 0px;
	-fx-border-style: dashed;
	-fx-border-color: #aaa;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}